/****************************
RESETS
*****************************/
:root {
    font-size: 62.5%;
  }
  *,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a,
  a:visited,
  a:link:active,
  a:visited:active {
    text-decoration: none;
    color: inherit;
  }
  ol,
  ul {
    list-style: none;
  } //margin:0, padding:0
  // p {margin:0}
  body {
    width: 100vw;
    height: 100vh;
  }
  /****************************
  VARIABLES & MIXINS
  *****************************/
  :root {
    --white: hsl(300, 50%, 98%);
    --pink: hsla(328, 100%, 58%, 1);
    --text: hsl(0, 0%, 19%);
    --black: hsl(0, 0%, 0%);
    --yellow: hsl(71, 100%, 92%);
    --burgundy: hsl(0, 59%, 30%);
  }
  
  @mixin flex ($direction, $justify, $align) {
      display:flex;
      flex-direction: $direction;
      justify-content: $justify;
      align-items: $align;
  }
  /****************************
  BANNER
  *****************************/
  
  p {
      font-family: Nunito;
      color:red
  }
  body {
      background-color: red;
  }