/****************************
RESETS
*****************************/
:root {
  font-size: 62.5%;
}
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:visited,
a:link:active,
a:visited:active {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
} //margin:0, padding:0
// p {margin:0}
body {
  width: 100vw;
  height: 100vh;
}
html {
  font-family: Nunito;
  text-transform: uppercase;
}
/****************************
VARIABLES & MIXINS
*****************************/
:root {
  --white: hsl(300, 50%, 98%);
  --pink: hsla(328, 100%, 58%, 1);
  --text: hsl(0, 0%, 19%);
  --black: hsl(0, 0%, 0%);
  --yellow: hsl(71, 100%, 92%);
  --burgundy: hsl(0, 59%, 30%);
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
/****************************
BANNER
*****************************/

svg {
  width: 14px;
}
.banner {
  height: 5vh;
  width: 100%;
  background-color: var(--black);
}
.banner p {
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
}

/****************************
NAVBAR
*****************************/
nav {
  height: 10vh;
  background-color: var(--white);
}
nav ul {
  height: 100%;
  @include flex(row, space-between, center);
}
nav ul img {
  width: 100px;
}
nav svg {
  width: 2rem;
}
@media (min-width: 700px) {
  nav ul img {
    width: 120px;
  }
}
