@charset "UTF-8";
/****************************
RESETS
*****************************/
:root {
  font-size: 62.5%;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:link:active,
a:visited:active {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

button {
  border: none;
  text-transform: uppercase;
}

body {
  width: 100vw;
  height: 100vh;
}

html {
  font-family: Nunito;
  text-transform: uppercase;
}

.price::before {
  content: "£";
}

.primary-button {
  background-color: var(--pink);
  color: var(--white);
  margin: auto;
  font-size: 1.5rem;
  padding: 1em 2em;
}

h1 {
  color: var(--pink);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Noto Sans", sans-serif;
}

/****************************
VARIABLES & MIXINS
*****************************/
:root {
  --banner-height: 5vh;
  --navbar-height: 10vh;
  --navbar-width: 50vw;
  --white: hsl(300, 50%, 98%);
  --pink: hsla(328, 100%, 58%, 1);
  --text: hsl(0, 0%, 19%);
  --black: hsl(0, 0%, 0%);
  --yellow: hsl(71, 100%, 92%);
  --burgundy: hsl(0, 59%, 30%);
}

/****************************
BANNER
*****************************/
svg {
  width: 14px;
}

.banner {
  height: var(--banner-height);
  width: 100%;
  background-color: var(--black);
}

.banner p {
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
}

/****************************
NAVBAR
*****************************/
nav {
  height: var(--navbar-height);
  background-color: var(--white);
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul img {
  width: 100px;
}

nav svg {
  width: 2rem;
}

@media (min-width: 700px) {
  nav ul img {
    width: 120px;
  }
}
/****************************
NAV MENU
*****************************/
body {
  position: relative;
}

nav {
  width: 100vw;
}
nav ul {
  width: 100%;
}

nav ul ul,
.login-icon,
.preferences-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  background-color: var(--white);
  width: var(--navbar-width);
  height: calc(100vh - (var(--banner-height)) - var(--navbar-height));
  bottom: 0;
  left: 0;
}

.preferences-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.login-icon {
  bottom: 30px;
}

.login-icon,
.preferences-container,
nav ul ul li {
  border-bottom: 1px solid grey;
  width: 100%;
}

.login-icon,
.preferences-container {
  width: var(--navbar-width);
  height: unset;
}

nav ul ul {
  display: none;
}

nav ul li:hover ul,
nav ul li:hover .preferences-container {
  display: block;
}

nav ul li:hover .open-hamburger {
  display: none;
}

nav ul li:hover .close-hamburger {
  display: block;
}

.close-hamburger {
  display: none;
}

/****************************
HERO SECTION
*****************************/
.hero-section {
  position: relative;
}
.hero-section img {
  width: 100%;
  height: auto;
}
.hero-section .hero-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-section h1 {
  color: var(--burgundy);
  font-size: 7rem;
}
.hero-section .hero-overlay button {
  background-color: var(--yellow);
  color: var(--burgundy);
  border: 1px solid var(--yellow);
  transition: all 1s ease-in-out;
  font-size: 2rem;
  padding: 0.7em 1em;
}
.hero-section .hero-overlay button:hover {
  background-color: transparent;
  color: var(--white);
}
.hero-section .scroll-button-container .material-symbols-outlined {
  font-size: 4rem;
  background-color: transparent;
}
.hero-section .scroll-button-container button {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  rotate: 90deg;
  background-color: var(--white);
  color: var(--text);
  box-shadow: 4px 0px 4px grey;
  outline: 0;
  margin-top: -32px;
}
.hero-section .scroll-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/****************************
PRODUCT CARD 
*****************************/
.product-card img {
  width: 320px;
}
.product-card .img-container {
  width: 100%;
  position: relative;
  transition: all 5s ease-in-out;
}
.product-card .primary-img,
.product-card .overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.product-card .overlay-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.product-card .overlay-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-card .add-button {
  align-self: flex-end;
  display: none;
}
.product-card .product-info {
  text-align: center;
}
.product-card .img-container:hover .primary-img {
  opacity: 0;
}
.product-card .img-container:hover .add-button {
  display: unset;
}
.product-card .overlay-text {
  background-color: hsl(0, 100%, 50%);
  color: var(--white);
  font-size: 1.6rem;
}
.product-card .additional-text {
  background-color: var(--white);
  color: var(--black);
}

/****************************
CAROUSEL
*****************************/
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.primary-button-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/****************************
INFO SECTION
*****************************/
.info-section {
  display: flex;
  margin: 2em;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  text-align: center;
}

.info-card img {
  width: 90px;
}

.info-card p {
  width: 60%;
}

/****************************
INFO SECTION
*****************************/
.shop-the-look-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-the-look-section .product-card {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-the-look-section .product-card .primary-button {
  width: 100%;
  margin: 1em 0;
}
.shop-the-look-section img {
  width: 100%;
  max-width: 700px;
}

/****************************
FOOTER
*****************************/
.footer-main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0 1em 2em 1em;
}
.footer-main p,
.footer-main a {
  text-transform: none;
}
.footer-main button {
  color: var(--pink);
}
.footer-main div {
  width: 100%;
  max-width: 400px;
  font-size: 1.3rem;
  line-height: 2em;
}
.footer-main .newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-main .newsletter form input {
  font-size: 2rem;
  padding: 0.3em;
  margin-top: 1em;
}
.footer-main .newsletter form input:focus {
  outline: none;
}
.footer-main .newsletter form button {
  margin: 1.5em 0 0 0;
  color: var(--white);
}/*# sourceMappingURL=styles.css.map */